body {
    margin: 0;
    font-family: Bookman Old Style;
    background-color: rgb(112, 110, 110);
}
#header {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgb(102, 49, 49);
    justify-content: space-between;
}
#logo {
    width: 60px;
    height: 60px;
    padding: 5px;
}
#title {
    font-size: 25px;
    color: white;
    padding-right: 10px;
}
#modalBtn {
    width: 70px;
    height: 70px;
    background-color: rgb(70, 73, 75);
    padding-bottom: 4px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    border-radius: 50%;
}
#modalBtn:hover {
  cursor: pointer;
}
#main-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
}
.book-card {
    width: 250px;
    height: 300px;
    margin: 5px;
    display: grid;
    grid-template-columns: 125px 125px;
    grid-template-rows: 70px 60px 25px 25px 40px 50px;
    background-image: url("https://imgur.com/7rtqAni.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
.book-card-title {
  color: white;
  font-size: 25px;
  text-decoration: underline;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.book-card-author {
  color: white;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.book-card-date {
  color: white;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
.book-card-length {
  color: white;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

/* MODAL */
.modal {
    display: none;
    position: fixed; 
    left: 30%; 
    top: 10%;
    width: 300px;
    height: 400px; 
  }
  .modal-content {
    text-align: center;
    border: 1px solid black;
    position: relative; 
    background-color: white;
    margin: auto; 
    width: 100%;
    height: 100%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .close-btn {
    float: right; 
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
  }
  .close-btn:hover {
    cursor: pointer;
  }
  
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

/* FOOTER */
.footer-container {
  display: flex;
  justify-content: space-around;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}
.checkbox-container {
  color: white;
  font-size: 15px;
}
.footer-checkbox {
  color: white;
}
.footer-del-btn {
  width: 70px;
  height: 30px;
  text-align: center;
}
