body {
    margin: 0;
}
#header {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgb(17, 102, 102);
    justify-content: space-between;
}
#logo {
    width: 80px;
    height: 70px;
}
#title {
    font-size: 25px;
    color: white;
    padding-right: 10px;
}
#main-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
}
.book-card {
    width: 250px;
    height: 300px;
    border: 1px solid black;
    margin: 5px;
    display: grid;
    grid-template-columns: 125px auto;
    grid-template-rows: auto 25px 25px 25px 25px 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.book-card-title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.book-card-author {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.book-card-date {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
.book-card-length {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

/* MODAL */
.modal {
    display: none;
    position: fixed; 
    left: 30%; 
    top: 10%;
    width: 300px;
    height: 400px; 
  }
  .modal-content {
    text-align: center;
    border: 1px solid black;
    position: relative; 
    background-color: white;
    margin: auto; 
    width: 100%;
    height: 100%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .close-btn {
    float: right; 
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
  }
  .close-btn:hover {
    color: darkgray;
  }
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

/* FOOTER */
.footer-container {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}
